.bg-img {
	background: url(../img/tap.jpg) no-repeat center center;
  background-size: cover;
  height: auto;
  width: 100%;
  min-height: 1100px;
  padding: 25px 0;
}

.bg-img-repeat {
	background-repeat: repeat;
	background-size: contain;
}

.landing-page {
	.callout {
		background: transparent;
		top: 100px;
		border: none;		
	}
	h2 {
		font-family: 'Candal', sans-serif;
		font-weight: 500;
		margin-top: 1rem;
		color: $beer;
		font-size: 2rem;
		@include breakpoint(large) {
			font-size: 3.5rem;
		}
	}
}

.pagination {
	margin: 0 auto;
	.column {
		margin: 0 auto;
		text-align: center;
	}
	.button {
		color: $white;
		display: inline-block;
		margin-bottom: 0;
		padding: 10px;
		background: darken($beer, 10%);
		border-radius: $global-radius;
		&:hover {
			background: darken($beer, 0%);
		}		
	}
	.disabled {
		opacity: 0.65;
	}
	.pagination-previous::before, 
	.pagination-previous.disabled::before {
		content: '\00ab';
    display: inline-block;
    margin-right: 0.5rem;
	}
	.pagination-next::after, 
	.pagination-next.disabled::after {
	content: '\00bb';
  display: inline-block;
  margin-left: 0.5rem;
	}
}

.meta-data,
.callout {
	color: $white;
	margin: 1rem auto;
	.callout {
		background: rgba(0, 0, 0, 0.85);
		border-radius: $global-radius;
	}
	.accent {
		color: $beer;
	}	
}

.main-content {
	.callout, 
	.lead, 
	.subheader, 
	.location-type, 
	.distance, 
	.location,
	.description {
		color: $white;
	}	
	.callout {
		background: rgba(0, 0, 0, 0.65);
		border-radius: $global-radius;
		&:hover {
			background: rgba(0, 0, 0, 0.85);
			-webkit-transition: all 0.7s ease;
    	transition: all 0.7s ease;
			img {
				-webkit-filter: grayscale(0);
			}
		}
	}
	.title {
		//color: $beer;
	}
	.image img {
		border-radius: $global-radius;
		-webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    -webkit-filter: grayscale(1);
	}
	.website {
		color: $beer;
		border-bottom: 1px dotted $beer;
		&:hover {
			border-bottom: 1px solid $beer;
		}
	}
	.location-type {		
    line-height: 1.4;
	}
	.location {    
    line-height: 1.4;
	}
	.distance {    
    line-height: 1.4;
	}
	.accent {
		color: $beer;
	}
	.description {
		line-height: 1.6;
		color: $white;
	}
	.accordion {
		background: transparent;
		border: none;
		.accordion-content {
			background: transparent;
		}
		.accordion-title {
			color: $beer;
			padding: 1rem;
			&:hover,
			&:focus {
				background: none;
				outline-color: transparent;
			}
		}
	}

}