      <!-- Navigation goes in this container -->
      <div data-sticky-container>
        <div data-sticky data-options="marginTop:0;" style="width:100%" data-sticky-on="small" data-stick-to="top">

          <!-- medium and down title bar -->
          <nav class="title-bar hide-for-large">
            <div class="align-left">
              <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
              <span class="title-bar-title">TasteThatTap</span>
            </div>
            <div class="align-right">
              <span class="title-bar-title">Search</span>
              <button class="menu-icon" type="button" data-open="offCanvasRight"></button>
            </div>
          </nav>

          <!-- large only title bar -->
          <nav class="title-bar show-for-large">
            <div class="align-left">
              <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
              <span class="title-bar-title">TasteThatTap</span>
            </div>
          </nav>

        </div>
      </div>

      <!-- off-canvas left menu -->
      <menu class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
        <ul class="menu vertical dropdown" data-dropdown-menu>
          <li><a href="http://localhost:5000/">home</a></li>
          <li><a href="#">about</a></li>
          <li><a href="#">blog</a></li>
          <li><a href="#">faq</a></li>
          <li><a href="#">contact</a></li>
        </ul>
      </menu>

      <!-- off-canvas right menu -->
      <menu class="off-canvas position-right reveal-for-large" id="offCanvasRight" data-off-canvas data-position="right">
        <ul class="menu vertical dropdown" data-accordion-menu data-multi-open="false">
          <li class="menu-text show-for-large">Search for</li>
          <li class="menu-item" id="breweries">
            <a href="#">Breweries<i class="icon-three-taps icon-36"></i></a>
            <ul class="menu vertical nested" data-trap-focus>
              <li>
                <label for="switch">within 10 mi.</label>
                <div class="switch">
                  <input class="switch-input" id="brewerRadius10" value="10" type="radio" checked name="brewerRadius" tabindex="1">
                  <label class="switch-paddle" for="brewerRadius10">
                    <span class="show-for-sr">show me brewers within 10 mi.</span>
                  </label>
                </div>
                <label for="switch">within 25 mi.</label>
                <div class="switch">
                  <input class="switch-input" id="brewerRadius25" value="25" type="radio" name="brewerRadius" tabindex="1">
                  <label class="switch-paddle" for="brewerRadius25">
                    <span class="show-for-sr">show me brewers within 25 mi.</span>
                  </label>
                </div>
                <label for="switch">within 50 mi.</label>
                <div class="switch">
                  <input class="switch-input" id="brewerRadius50" value="50" type="radio" name="brewerRadius" tabindex="1">
                  <label class="switch-paddle" for="brewerRadius50">
                    <span class="show-for-sr">show me brewers within 50 mi.</span>
                  </label>
                </div>
              </li>
              <li>
                <button class="button" id="brewerRadiusBtn" type="submit" tabindex="1">show me</button>
              </li>
              <li class="nested-menu-text">OR</li>
              <li><input type="text" id="brewerSearch" placeholder="search brewery name" tabindex="1"></li>
              <li>
                <button class="button" id="brewerSearchBtn" type="submit" tabindex="1">show me</button>
              </li>
            </ul>
          </li>
          <li class="menu-item" id="beers">
            <a href="#">Beers<i class="icon-chalis icon-36"></i></a>
            <ul class="menu vertical nested">
              <li><input type="text" id="searchBeer" placeholder="search by name"></li>
              <li><input type="text" id="searchBeer" placeholder="search by brewer"></li>
            </ul>
          </li>
          <li class="menu-item" id="styles">
            <a href="#">Styles<i class="icon-hop icon-36"></i></a>
            <ul class="menu vertical nested">
              <li>
                <select name="searchStyleCategory" id="searchStyleCategory">
                  <option value="default">filter styles by category</option>
                </select>
              </li>
              <li>
                <select name="searchStyleName" id="searchStyleName">
                  <option value="default">select a style</option>
                </select>
              </li>  
            </ul>
          </li>
          <li class="menu-item" id="events">
            <a href="#">Events<i class="icon-growler icon-36"></i></a>
            <ul class="menu vertical nested">
              <li>
              <li>
                <label for="switch">within 25 mi.</label>
                <div class="switch">
                  <input class="switch-input" id="eventRadius1" type="radio" checked name="eventsRadius">
                  <label class="switch-paddle" for="eventRadius1">
                    <span class="show-for-sr">show me events within 25 mi.</span>
                  </label>
                </div>
                <label for="switch">within 50 mi.</label>
                <div class="switch">
                  <input class="switch-input" id="eventRadius2" type="radio" name="eventsRadius">
                  <label class="switch-paddle" for="eventRadius2">
                    <span class="show-for-sr">show me events within 50 mi.</span>
                  </label>
                </div>
                <label for="switch">within 75 mi.</label>
                <div class="switch">
                  <input class="switch-input" id="eventRadius3" type="radio" name="eventsRadius">
                  <label class="switch-paddle" for="eventRadius3">
                    <span class="show-for-sr">show me events within 75 mi.</span>
                  </label>
                </div>
              </li>
              <li>
                <button class="button" type="submit">show me</button>
              </li>
              </li>              
            </ul>            
          </li>
        </ul>
      </menu>
        