{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TasteThatTap</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <link rel="icon" href="http://localhost:3000/favicon.ico?v=2" />
    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Candal" rel="stylesheet">
  </head>
  <body>
    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        {{> navigation}}
        {{> body}}
        {{> footer}}
      <!-- close wrapper, no more content after this -->
      </div>
    </div>
    <!-- Handlebars -->
    {{> searchBrewerQuery}}
    {{> searchGeoPoint}}
    {{> searchBeerByStyle}}
    {{> styleCategory}}
    {{> styleName}}
    {{> metaData}}
    <!-- /Handlebars -->
    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>